<app-header></app-header>
<div class="conteiner">
    <div class="wrapp_about_me">
        <div class="head_project">
            <h3><span>/</span>about-me</h3>
            <p>Who am i?</p>
        </div>
        <div class="block_about_me">
            <div class="about_left">
                <p>Hello, i’m Rarjers!</p> <br>
                <p>I’m a self-taught front-end developer based in Kyiv, Ukraine. I can develop responsive websites from scratch and raise them into modern user-friendly web experiences.</p><br>
                <p>Transforming my creativity and knowledge into a websites has been my passion for over a year. I have been helping various clients to establish their presence online. I always strive to learn about the newest technologies and frameworks.</p><br>
            </div>
            <div class="about_right">
                <img src="/assets/main_img/about_me.png" alt="about me images">
            </div>
        </div>
    </div>
    <div class="wrapp_skills">
        <div class="head_project">
            <h3><span>#</span>skills</h3>
        </div>
        <div class="block_skills">
            <div class="skills_item">
                <h3>Languages</h3>
                <p>TypeScript Lua Python JavaScript</p>
            </div>
            <div class="skills_item">
                <h3>Other</h3>
                <p>HTML CSS EJS SCSS REST Jinja</p>
            </div>
            <div class="skills_item">
                <h3>Tools</h3>
                <p>VSCode Neovim Figma XFCE Arch Git Font Awesome KDE fish</p>
            </div>
            <div class="skills_item">
                <h3>Databases</h3>
                <p>SQLite PostgreSQL Mongo</p>
            </div>
            <div class="skills_item">
                <h3>Frameworks</h3>
                <p>React Vue Disnake Discord.js Flask Express.js</p>
            </div>
            <div class="skills_item">
                <h3>libraries</h3>
                <p>React Vue Disnake Discord.js Flask Express.js</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>