<app-header></app-header>
<div class="conteiner">
    <div class="wrapp_block_info">
        <div class="left_block">
            <h1>Elias is a <span>front-end developer</span></h1>
            <p>He crafts responsive websites where technologies meet creativity</p>
            <a href="">Contact me!</a>
        </div>
        <div class="right_block_img">
            <img src="/assets/main_img/main_photo.png" alt="main photo">
            <p><img src="/assets/main_img/block.svg" alt="block"> Currently working on <span>Portfolio</span></p>
        </div>
    </div>
    <div class="quote">
        <img class="width_adapt" src="/assets/main_img/quote.svg" alt="quote">
    </div>
    <div class="wrapp_project">
        <div class="head_project">
            <p><span>#</span>projects <img class="adapt_visib" src="/assets/main_img/line_project.svg" alt="line"></p>
            <a href="">View all ~~></a>
        </div>
        <div class="wrapp_project_item">
            <div class="project_item">
                <img src="/assets/main_img/project_one.jpg" alt="">
                <p class="skills">HTML SCSS Python Flask</p>
                <h3>ChertNodes</h3>
                <p class="description">Minecraft servers hosting </p>
                <a href="">Live <~></a>
            </div>
            <div class="project_item">
                <img src="/assets/main_img/project_two.png" alt="">
                <p class="skills">React Express Discord.js Node.js HTML SCSS Python Flask</p>
                <h3>ProtectX</h3>
                <p class="description">Discord anti-crash bot</p>
                <a href="">Live <~></a>
            </div>
            <div class="project_item">
                <img src="/assets/main_img/project_three.png" alt="">
                <p class="skills">CSS Express Node.js</p>
                <h3>Kahoot Answers Viewer</h3>
                <p class="description">Get answers to your kahoot quiz</p>
                <a href="">Live <~></a>
            </div>
        </div>
    </div>
    <div class="wrapp_skills">
        <div class="head_project">
            <p><span>#</span>skills <img class="adapt_visib" src="/assets/main_img/line_two.svg" alt="line"></p>
        </div>
        <div class="block_skills">
            <div class="left_block_skills">
                <img src="/assets/main_img/skills_cube.png" alt="cube">
            </div>
            <div class="right_block_skills">
                <div class="first_block">
                    <div class="languages">
                        <h3>Languages</h3>
                        <p>TypeScript Lua Python JavaScript</p>
                    </div>
                </div>
                <div class="second_block">
                    <div class="databases">
                        <h3>Databases</h3>
                        <p>SQLite PostgreSQL Mongo</p>
                    </div>
                    <div class="other">
                        <h3>Other</h3>
                        <p>HTML CSS EJS SCSS REST Jinja</p>
                    </div>
                </div>
                <div class="three_block">
                    <div class="tools">
                        <h3>Tools</h3>
                        <p>VSCode Neovim Linux Figma XFCE Arch Git Font Awesome</p>
                    </div>
                    <div class="frameworks">
                        <h3>Frameworks</h3>
                        <p>React Vue Disnake Discord.js Flask Express.js</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapp_about_me">
        <div class="head_project">
            <p><span>#</span>about-me <img class="adapt_visib" src="/assets/main_img/line_three.svg" alt="line"></p>
        </div>
        <div class="block_about_me">
            <div class="about_left">
                <p>Hello, i’m Rarjers!</p> <br>
                <p>I’m a self-taught front-end developer based in Kyiv, Ukraine. I can develop responsive websites from scratch and raise them into modern user-friendly web experiences.</p><br>
                <p>Transforming my creativity and knowledge into a websites has been my passion for over a year. I have been helping various clients to establish their presence online. I always strive to learn about the newest technologies and frameworks.</p><br>
                <a href="">Read more</a>
            </div>
            <div class="about_right">
                <img src="/assets/main_img/about_me.png" alt="about me images">
            </div>
        </div>
    </div>
    <div class="wrapp_contact">
        <div class="head_project">
            <p><span>#</span>contacts <img src="/assets/main_img/line_four.svg" alt="line"></p>
        </div>
        <div class="block_contact">
            <div class="left_block">
                <p>I’m interested in freelance opportunities. However, if you have other request or question, don’t hesitate to contact me</p>
            </div>
            <div class="right_block">
                <h3>Message me here</h3>
                <div class="block_link">
                    <p><img src="/assets/main_img/Discord.svg" alt="">!Elias#3519</p>
                    <p><img src="/assets/main_img/Email.svg" alt="">elias@elias.me</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>