<app-header></app-header>
<div class="conteiner">
    <div class="wrapp_works">
        <div class="block_header">
            <h2><span>/</span>projects</h2>
            <p>List of my projects</p>
        </div>
        <div class="block_project">
            <h2><span>#</span>real-projects</h2>
        </div>
        <div class="preview_project">
            <div class="wrapp_project_item">
                <div class="project_item">
                    <img src="/assets/main_img/project_one.jpg" alt="">
                    <p class="skills">HTML SCSS Python Flask</p>
                    <h3>ChertNodes</h3>
                    <p class="description">Minecraft servers hosting </p>
                    <a href="">Live <~></a>
                </div>
                <div class="project_item">
                    <img src="/assets/main_img/project_two.png" alt="">
                    <p class="skills">React Express Discord.js Node.js HTML SCSS Python Flask</p>
                    <h3>ProtectX</h3>
                    <p class="description">Discord anti-crash bot</p>
                    <a href="">Live <~></a>
                </div>
                <div class="project_item">
                    <img src="/assets/main_img/project_three.png" alt="">
                    <p class="skills">CSS Express Node.js</p>
                    <h3>Kahoot Answers Viewer</h3>
                    <p class="description">Get answers to your kahoot quiz</p>
                    <a href="">Live <~></a>
                </div>
                <div class="project_item">
                    <img src="/assets/main_img/project_three.png" alt="">
                    <p class="skills">CSS Express Node.js</p>
                    <h3>Kahoot Answers Viewer</h3>
                    <p class="description">Get answers to your kahoot quiz</p>
                    <a href="">Live <~></a>
                </div>
                <div class="project_item">
                    <img src="/assets/main_img/project_three.png" alt="">
                    <p class="skills">CSS Express Node.js</p>
                    <h3>Kahoot Answers Viewer</h3>
                    <p class="description">Get answers to your kahoot quiz</p>
                    <a href="">Live <~></a>
                </div>
            </div>
        </div>
        <div class="block_project">
            <h2><span>#</span>pet-projects</h2>
        </div>
        <div class="preview_project">
            <div class="wrapp_project_item">
                <div class="project_item">
                    <img src="/assets/main_img/project_one.jpg" alt="">
                    <p class="skills">HTML SCSS Python Flask</p>
                    <h3>ChertNodes</h3>
                    <p class="description">Minecraft servers hosting </p>
                    <a href="">Live <~></a>
                </div>
                <div class="project_item">
                    <img src="/assets/main_img/project_two.png" alt="">
                    <p class="skills">React Express Discord.js Node.js HTML SCSS Python Flask</p>
                    <h3>ProtectX</h3>
                    <p class="description">Discord anti-crash bot</p>
                    <a href="">Live <~></a>
                </div>
                <div class="project_item">
                    <img src="/assets/main_img/project_three.png" alt="">
                    <p class="skills">CSS Express Node.js</p>
                    <h3>Kahoot Answers Viewer</h3>
                    <p class="description">Get answers to your kahoot quiz</p>
                    <a href="">Live <~></a>
                </div>
                <div class="project_item">
                    <img src="/assets/main_img/project_three.png" alt="">
                    <p class="skills">CSS Express Node.js</p>
                    <h3>Kahoot Answers Viewer</h3>
                    <p class="description">Get answers to your kahoot quiz</p>
                    <a href="">Live <~></a>
                </div>
                <div class="project_item">
                    <img src="/assets/main_img/project_three.png" alt="">
                    <p class="skills">CSS Express Node.js</p>
                    <h3>Kahoot Answers Viewer</h3>
                    <p class="description">Get answers to your kahoot quiz</p>
                    <a href="">Live <~></a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>