<app-header></app-header>
<div class="conteiner">
    <div class="wrapp_contact">
        <div class="head_project">
            <p><span>/</span>contacts</p>
        </div>
        <div class="block_contact">
            <div class="left_block">
                <p>I’m interested in freelance opportunities. However, if you have other request or question, don’t hesitate to contact me</p>
            </div>
            <div class="right_block">
                <h3>Message me here</h3>
                <div class="block_link">
                    <p><img src="/assets/main_img/Discord.svg" alt="">!Elias#3519</p>
                    <p><img src="/assets/main_img/Email.svg" alt="">elias@elias.me</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapp_contact">
        <div class="head_project">
            <p><span>#</span>all-media</p>
        </div>
        <div class="block_media">
            <p><img src="/assets/main_img/Discord.svg" alt="">@elias</p>
            <p><img src="/assets/main_img/Discord.svg" alt="">@elias</p>
        </div>
    </div>
</div>
<app-footer></app-footer>