footer {
    border-top: solid 1px white;

    .wrapp_footer {
        margin: 32px 0;
        display: flex;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;
            color: white;
            font-family: 'Fira Code', monospace;
            cursor: pointer;
    
            p {
                margin-left: 8px;
            }
            .email {
                color: grey;
                margin-left: 24px;
            }
        }
        .block_media {

            h3 {
                font-family: 'Fira Code', monospace;
                color: white;
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 12px;
            }
        }
    }
}
@media (max-width: 900px) {
    footer {
        width: 100%;
    }
}