<footer>
    <div class="conteiner">
        <div class="wrapp_footer">
            <div class="logo">
                <img src="/assets/header_img/logo.svg" alt="logo">
                <p>Rarjers</p>
                <p class="email">elias@elias-dev.ml</p>
            </div>
            <div class="block_media">
                <h3>Media</h3>
                <div class="link_social">
                    <a href=""><img src="/assets/main_img/Discord.svg" alt=""></a>
                    <a href=""><img src="/assets/main_img/Github.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>
